<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!--管理员界面-->
    <meta charset="UTF-8">
    <title>管理员</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">管理员界面</a>
            </div>

            <ul class="nav navbar-nav navbar-left">
                <li><a href="show_all_user"><span class="glyphicon glyphicon-user"></span>用户管理</a></li>
                <li><a href="handle_news"><span class="glyphicon glyphicon-th-list"></span>新闻管理</a></li>
                <li><a href="handle_video"><span class="glyphicon glyphicon-film"></span>视频管理</a></li>
                <li><a href="product_handle"><span class="glyphicon glyphicon-shopping-cart"></span>交易平台管理</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html"><span class="glyphicon glyphicon-home"></span>退出登录</a></li>
            </ul>

        </div>
    </nav>
</div>
</body>
</html>