<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>添加新闻</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">添加新闻</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/handle_news"><span class="glyphicon glyphicon-th-list"></span>新闻管理</a></li>
                    </ul>
                </div>
            </nav>

            <div class="jumbotron">
                <div class="panel panel-primary">
                    <form id="form_data" action="/handle_add_news" method="post">
                        <div class="panel-heading">
                            <div class="modal-body">
                                <label for="title">新闻标题:</label>
                                <textarea class="form-control" id="title" rows="1" name="title" placeholder="想一个吸引人的标题吧！"></textarea>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="modal-body">
                                <label for="star_name">球星标签:</label>
                                <select class="form-control" id="star_name" name="star_name">
                                    <option>勒布朗.詹姆斯</option>
                                    <option>科比.布莱恩特</option>
                                    <option>安东尼.戴维斯</option>
                                </select>
                            </div>
                            <div class="modal-body">
                                <label for="content">新闻内容:</label>
                                <textarea class="form-control" id="content" rows="15" name="content" placeholder="请编辑新闻"></textarea>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">
                                    提交
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
