<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的新闻</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <style type="text/css">
        .modal-backdrop {
            filter: alpha(opacity=0)!important;
            opacity: 0!important;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">新闻管理</a>
            </div>

            <div>
                <form class="navbar-form navbar-left" method="post" action="/handle_star_news">
                    <div class="form-group">
                        <label>
                            <input type="text" class="form-control" name="stars_name" placeholder="输入球星名字查询"/>
                        </label>
                    </div>
                    <button type="submit">搜索</button>
                </form>
            </div>

            <ul class="nav navbar-nav navbar-left">
                <li><a href="handle_add_news.html"><span class="glyphicon glyphicon-plus"></span>添加新闻</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="admin_index.html"><span class="glyphicon glyphicon-home"></span>管理员界面</a></li>
            </ul>
        </div>
    </nav>
</div>


<div class="container">
    <br>
    <br>
    <br>
    <table class="table table-hover" th:each="handle_news_list:${newsList}">
        <tr bgcolor="f3f3f3" height="25">
            <th>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="${handle_news_list['title']}"></h3>
                    </div>
                    <div class="panel-body">
                        <h th:text="${handle_news_list['content']}"></h>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            <span class="glyphicon glyphicon-trash">删除</span>
                        </button>
                        <!-- 模态框（Modal） -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" style="height: 400px; overflow: auto; pointer-events: auto">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h2>确认删除该新闻？</h2>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                        </button>
                                        <button type="button" class="btn btn-danger">
                                            <a th:href="@{'handle_delete_news/' + ${handle_news_list['id']}}">确定</a>
                                        </button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                    </div>
                </div>
            </th>
        </tr>
    </table>
</div>
</body>
</html>