<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>LakerHome</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">湖人之家</a>
                </div>

                <ul class="nav navbar-nav navbar-left">
                    <li><a href=""><span class="glyphicon glyphicon-th-list"></span>球星新闻</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-film"></span>球星视频</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-shopping-cart"></span>交易平台</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href=""><span class="glyphicon glyphicon-unchecked"></span>球迷圈</a></li>
                    <li><a href="register.html"><span class="glyphicon glyphicon-ok-circle"></span>注册</a></li>
                    <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span>登录</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-user"></span>个人主页</a></li>
                </ul>

            </div>
        </nav>
    </div>
</body>

</html>
