<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>添加商品</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">添加商品</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="user_sell.html"><span class="glyphicon "></span>我的仓库</a></li>
                    </ul>
                </div>
            </nav>

            <div class="jumbotron">
                <div class="panel panel-primary">
                    <form id="form_data" action="owner_add_products" method="post">
                        <div class="panel-heading">
                            <div class="modal-body">
                                商品名称:<textarea class="form-control" rows="1" name="name" placeholder="名称"></textarea>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="modal-body">
                                品牌:<textarea class="form-control" rows="1" name="brand" placeholder="nike/adidas/anta/..."></textarea>
                            </div>
                            <div class="modal-body">
                                颜色:<textarea class="form-control" rows="1" name="color" placeholder="白色/黄色/红色"></textarea>
                            </div>
                            <div class="modal-body">
                                价格:<textarea class="form-control" rows="1" name="price" placeholder="100"></textarea>
                            </div>
                            <div class="modal-body">
                                图片地址:<textarea class="form-control" rows="1" name="place" placeholder="photo/xxx.jpg"></textarea>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">
                                    提交
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
