<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的视频</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">我的视频</a>
            </div>

            <div>
                <form class="navbar-form navbar-left" method="post" action="/show_star_video">
                    <div class="form-group">
                        <label>
                            <input type="text" class="form-control" name="stars_name" placeholder="输入球星名字查询"/>
                        </label>
                    </div>
                    <button type="submit">搜索</button>
                </form>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="user_index.html"><span class="glyphicon glyphicon-home"></span>用户主页</a></li>
            </ul>

        </div>
    </nav>
</div>


<div class="container">
    <br>
    <br>
    <br>
    <table class="table table-hover" th:each="video_list:${videoList}">
        <tr bgcolor="f3f3f3" height="25">
            <th>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="${video_list['title']}"></h3>
                    </div>
                    <div class="panel-body" align="center">
                        <video width="320" height="240" controls="controls">
                            <source th:src="${video_list['place']}" type="video/mp4"/>
                        </video>
                    </div>
                </div>
            </th>
        </tr>
    </table>
</div>
</body>
</html>