<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciper.lakerhome.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.ciper.lakerhome.entity.Product">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="brand" property="brand"/>
        <result column="color" property="color"/>
        <result column="price" property="price"/>
        <result column="dealState" property="dealState"/>
        <result column="owner" property="owner"/>
        <result column="place" property="place"/>
    </resultMap>

    <select id="selectByName" resultMap="BaseResultMap">
        select lakerhome.Product.* from lakerhome.Product
        where Product.name like CONCAT(CONCAT('%', #{name}), '%')
    </select>

    <select id="selectByOwner" resultMap="BaseResultMap">
        select lakerhome.Product.* from lakerhome.Product
        where owner = #{owner,jdbcType=VARCHAR}
    </select>

    <select id="selectShoppingCart" resultMap="BaseResultMap">
        select lakerhome.Product.* from lakerhome.Product , lakerhome.ShoppingCart
        where Product.Id = ShoppingCart.product_id and lakerhome.Product.deal_state = 1 and ShoppingCart.user_id = #{user_id,jdbcType=VARCHAR}
    </select>

    <select id="cartCheckout" resultMap="BaseResultMap">
        select lakerhome.Product.* from lakerhome.Product, lakerhome.ShoppingCart
        where lakerhome.ShoppingCart.user_id = #{user_id, jdbcType=VARCHAR}
        and lakerhome.Product.deal_state = 1
        and lakerhome.Product.Id = lakerhome.ShoppingCart.product_id
    </select>

    <select id="selectByDealState" resultMap="BaseResultMap">
        select lakerhome.Product.* from lakerhome.Product
        where owner = #{owner,jdbcType=VARCHAR}
        and deal_state = #{dealState, jdbcType=INTEGER}
    </select>

    <update id="modifyProduct" parameterType="com.ciper.lakerhome.entity.Product">
        update lakerhome.Product
        set Product.name = #{name, jdbcType=VARCHAR},
            Product.brand = #{brand, jdbcType=VARCHAR},
            Product.color = #{color, jdbcType=VARCHAR},
            Product.price = #{price, jdbcType=INTEGER},
            Product.place = #{place, jdbcType=VARCHAR}
        where Id = #{id, jdbcType=INTEGER}
    </update>

</mapper>